body{
  margin:0;
  font-family: Helvetica;
  font-size:22px;
  color:seashell;
  background-color: black;
  opacity:0.9;
  text-align:center;
}

header {
  border-bottom: 1px solid seashell;
  background-color: black;
  height:69px;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  position:fixed;
  z-index:2;
}

header img{
  height:50px;
  margin-left:10px;
}

header nav span{
  margin:0 20px;
  text-decoration: underline;
}

.main {
  width:1200px;
  margin: auto;
}

.main, footer{
  position:relative;
  top:69px;
}

#mission {
  height:700px;
  background-image: url('../images/img-mission-background.jpg');
  display:flex;
}

.content{
  width:100%;
  margin:auto;
  background-color:black;
}

#tea-of-the-month{
  width:1000px;
  margin:auto;
}

#tea-of-the-month img{
  height:200px;
  width:300px;
  margin:10px;
}

.tea-type {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-type span {
  display:block;
}

#locations{
  height:500px;
  background-image: url('../images/img-locations-background.jpg');
  padding-top:70px;
  margin-top:50px;
}

.location-box{
  display:flex;
  justify-content: center;
  align-items:center;

}
.boxes-content{
  background-color:black;
  width: 300px;
  opacity: 1;
  padding: 10px;
  margin:15px 20px 0 20px;
}

.contact{
  height: 200px;
}

footer{
  text-align:left;
}

footer h5{
  margin-left:10px;
}
